{% extends "layout.html" %}
{% block content %}
            <article class="media content-section">
              <img src="{{ url_for('static', filename='CAFF_files/' + item.preview_file )}}">
              <div>
                  <h2>{{ item.title }}</h2>
                  <p>{{ item.creator_name }}</p>
                  <p>{{ item.creation_date.strftime('%Y-%m-%d') }}</p>
                  <p>{{ item.duration }}</p>
              </div>
            </article>
            {% for comment in item.comments %}
                 <p>{{ comment.content }}</p>
            {% endfor %}

{% endblock content %}