{% extends "layout.html" %}
{% block content %}
    <form method="GET" action="">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
                    {{ form.search_key(class="form-control") }}
              <div class="input-group-append">
                    {{ form.submit(class="btn btn-outline-primary") }}
              </div>
        </div>
    </form>

<article class="media content-section">
    <div class="card-columns" >
            {% for item in items %}
                <div class="card">
                  <img src="{{ url_for('static', filename='Preview_files/' + item.preview_file )}}" class="card-img-top"
                    alt="CAFF preview" />
                      <div class="card-body">
                          <div class="mb-2">
                          <h3><a class="card-title" href="{{ url_for('caff_details', caff_id=item.id) }}">{{ item.title }}</a></h3>
                          <h5>by: <b>{{ item.uploader.username }}</b></h5>
                          <ul class="list-group list-unstyled">
                              <li class="card-text">Creator: <b>{{ item.creator_name }}</b></li>
                              <li class="card-text">Creation date: <b>{{item.creation_date.strftime('%Y-%m-%d')}}</b></li>
                              <li class="card-text">Tags: <b>{{item.tags}}</b></li>
                          </ul>
                      </div>
                        <div>
                          <h5>Price: <b>{{ item.price }}</b></h5>
                        </div>
                      </div>
                </div>
            {% endfor %}
    </div>
</article>
{% endblock content %}


